.pourItems {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  row-gap: 1vh;
}

.settingsItems {
  display: flex;
  flex-direction: column;
  background-color: rgb(178, 178, 178);
  border-radius: 0.5rem;
  padding: 1em 0.5em;
  justify-self: center;
  align-self: center;
  max-width: 400px;
  min-width: 30vw;
  row-gap: 5vw;
}

.settingsSubItemsCol {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;
  row-gap: 2vh;
  min-width: 30vw;
  max-width: 400px;
}

#cancel {
  background: #b21111;
  box-shadow: #e33737;
  text-shadow: none;
  background-position: center;
  transition: background 0.8s;
}

#cancelContainer {
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) {
  .settingsItems {
    min-width: 300px;
    max-width: 80vw;
  }
  .settingsSubItemsCol {
    min-width: 300px;
    max-width: 80vw;
  }
}

@media (min-width: 1025px) {
  .settingsItems {
    min-width: 400px;
    max-width: 400px;
  }
  .settingsSubItemsCol {
    min-width: 400px;
    max-width: 400px;
  }
  #cancelContainer {
    width: 230px;
  }
}